@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #1DB954;
    --primary-darker: #17883e;
    --background-color: black;
    --secondary-color: #121212;
    --container-background-color: #222222;
    --subtitle-color: #9c9c9c;
    --text-color: #fff;
    --font-montserrat: 'Montserrat', sans-serif;
    --scroll-color: #aaaaaa;
}

html, body {
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
}

.header{
    padding-top: 10rem;
    font-family: var(--font-montserrat);
    color: var(--primary-color);
    display: flex;
    justify-content: center;
}

.presentation{
    height: 100%;
}

.button__div{
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary-color);
    font-family: var(--font-montserrat);
    padding-bottom: 13.5rem;
}

.header__div{
    background-image: url("../assets/gifBackground.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.button {
    width: 25%;
    padding: 2%;
    margin-top: 5%;
    border-radius: 16px;
    background-color: var(--primary-color);
    font-family: var(--font-montserrat);
    border: 4px solid var(--primary-color);
    font-size: large;
    cursor: pointer;
    transition: .3s ease-in-out;
    text-decoration: none;
    color: var(--background-color);
    text-align: center;
}

.button:hover {
    margin-top: 5%;
    background-color: var(--secondary-color);
    border: 4px solid var(--secondary-color);
    color: var(--primary-color)
}


.footer__section {
    border-top: 3px solid var(--secondary-color);
    width: 100%;
    color: var(--text-color);
    text-align: center;
    justify-content: center;
    font-family: var(--font-montserrat);;
    background: var(--secondary-color);
    padding: 3rem 0 2rem;
}

.footer__content__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    margin-bottom: 2rem;
}

.footer__about {
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: small;
}

.footer__about__text {
    text-align: justify;
    padding: 2rem 0;
}

.footer__about__text a{
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--font-montserrat);
}

.footer__contact{
    font-size: small;
    color: var(--subtitle-color);
    margin-bottom: 10px;
    font-family: var(--font-montserrat);
}

.footer__contact__link {
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--font-montserrat);
}

.footer__contact__link i {
    cursor: pointer;
}

@media (max-width:1200px){
    .footer__section {
        display: flex;
        flex-direction: column;
        border-top: 3px solid var(--secondary-color);
        bottom: 0;
        width: 100%;
        color: var(--text-color);
        text-align: center;
        justify-content: center;
        font-size: 0.9rem;
        font-weight: 400;
        background: var(--secondary-color);
    }
    .footer__content__container {
        display: flex;
        flex-direction: column;
        gap: 0px;
        margin-bottom: 2rem;
    }
    
    .footer__about__text {
        position: relative;
        display: flex;
        text-align: justify;
        margin-left: 20px;
        margin-right: 20px;
    
    }
}

